<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category
			id="com.cursor.eclipse.category"
			name="Cursor"/>
		<view
			id="com.cursor.eclipse.chat.ChatView"
			name="Cursor"
			restorable="true"
			category="com.cursor.eclipse.category"
			class="com.cursor.eclipse.chat.ChatView"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="com.cursor.eclipse.prefs"
			name="Cursor"
			class="com.cursor.eclipse.prefs.CursorPreferencePage"/>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.cursor.eclipse.prefs.PreferenceInitializer"/>
	</extension>
</plugin>
